<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.servlets.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAirlineServlet</display-name>
    <servlet-name>ShowAirlineServlet</servlet-name>
    <servlet-class>com.servlets.ShowAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAirlineServlet</servlet-name>
    <url-pattern>/ShowAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSourceDestinationServlet</display-name>
    <servlet-name>ShowSourceDestinationServlet</servlet-name>
    <servlet-class>com.servlets.ShowSourceDestinationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSourceDestinationServlet</servlet-name>
    <url-pattern>/ShowSourceDestinationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFlightsServlet</display-name>
    <servlet-name>ShowFlightsServlet</servlet-name>
    <servlet-class>com.servlets.ShowFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFlightsServlet</servlet-name>
    <url-pattern>/ShowFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearchServlet</display-name>
    <servlet-name>FlightSearchServlet</servlet-name>
    <servlet-class>com.servlets.FlightSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchServlet</servlet-name>
    <url-pattern>/FlightSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>com.servlets.BookFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/BookFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserConfirmationServlet</display-name>
    <servlet-name>UserConfirmationServlet</servlet-name>
    <servlet-class>com.servlets.UserConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConfirmationServlet</servlet-name>
    <url-pattern>/UserConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.servlets.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
</web-app>